{
    "openapi": "3.0.1",
    "info": {
        "title": "API Приема платежей",
        "description": "# Цифровая подпись запросов\nВ целях безопасности проведения финансовых операций через открытое API, необходимо формировать и передавать цифровую подпись запросов в заголовке `Signature` для следующих типов запросов:\n* Платеж через форму мерчанта -> создание платежа (`PUT` / `POST`)\n* Подтверждение -> подтверждение платежа (`PUT` / `POST`)\n* Возвраты -> создание операции возврата (`PUT` / `POST`)\n\nДля реализации проверки подписаных таким образом запросов мерчант должен передать нам открытый ключ на этапе подключения. \nДетали создания и передачи ключа см. в подразделе - **Формирование ключей**. \nДетали создания и передачи подписи запроса см. в подразделе - **Подпись запроса**. \n\n## Формирование ключей\nТребования к ключам:\n* алгоритм - RSA\n* размер ключа - 2048-bit\n* форма передаваемого ключа - PEM формат, закодированный в Base64 одной строкой (без переносов)\n\nПример на Bash:\n1. Сгенерировать закрытый ключ\n```sh\nopenssl genrsa -out private_key.pem 2048\n```\n2. Получить открытый ключ на основе закрытого\n```sh\nopenssl rsa -in private_key.pem -pubout -out public_key.pem\n```\n3. Закодировать открытый ключ в Base64\n```sh\nopenssl base64 -A -in public_key.pem -out public_key_base64.pem\n```\n4. В рамках подключения к API *Точки* передать полученный на предыдущем шаге `public_key_base64.pem`\n\n## Подпись запроса\nТребования к подписи:\n* hash-функция - sha256\n* заголовок для передачи подписи - `Signature`\n* форма передачи подписи - \"сырая\" подпись, закодированная в Base64 одной строкой (без переносов)\n\nПример на Bash:\n1. подготовить тело запроса (в данном случае - предположим что оно в файле request.txt)\n```txt\nhello, world\n```\n2. подписать тело запроса с помощью приватного ключа и с hash-функцией sha256 \n```sh\nopenssl dgst -sha256 -sign private_key.pem request.txt > sign_raw.txt\n```\n3. закодировать \"сырую\" подпись в Base64 \n```sh\nopenssl base64 -A -in sign_raw.txt -out sign_base64.txt\n```\n4. передавать содержимое `sign_base64.txt` в заголовке `Signature` запросов",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://enter.tochka.com/uapi/pay/",
            "description": "Боевой сервер Production"
        }
    ],
    "tags": [
        {
            "name": "Подтверждение",
            "description": "Методы для подтверждения"
        },
        {
            "name": "Возвраты",
            "description": "Методы для проведения возвратов"
        },
        {
            "name": "Платеж через форму мерчанта",
            "description": "Методы для проведения платежей. \n\nДля использования методов приема платежей с передачей карточных данных вам необходимо подтвердить соответствие стандарту PCI DSS. \n\nСтандарт **PCI Data Security Standard (PCI DSS)** — это международный стандарт безопасности, созданный специально для защиты данных платежных карт. Он позволяет защитить организацию от инцидентов безопасности и&nbsp;обеспечить необходимый уровень защищенности во всей платежной системе."
        }
    ],
    "paths": {
        "/{apiVersion}/sites/{siteUid}/payments/{paymentUid}": {
            "get": {
                "tags": [
                    "Платеж через форму мерчанта"
                ],
                "summary": "Статус платежа",
                "description": "Получить информацию о платежной транзакции",
                "operationId": "getPayment",
                "parameters": [
                    {
                        "name": "siteUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/siteUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-_]{1,64}",
                            "type": "string"
                        }
                    },
                    {
                        "name": "paymentUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/paymentUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "apiVersion",
                        "in": "path",
                        "description": "Версия API",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "v1.0"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentResponseDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "HTTPBadRequest",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                },
                                "example": {
                                    "code": "400",
                                    "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                                    "message": "Что то пошло не так",
                                    "Errors": [
                                        {
                                            "errorCode": "HTTPBadRequest",
                                            "message": "Something going wrong",
                                            "url": "http://enter.tochka.com/open-banking/docs"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Платеж через форму мерчанта"
                ],
                "summary": "Создание платежа",
                "description": "Создать платежную транзакцию",
                "operationId": "createPaymentByPaymentUid",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/signature"
                    },
                    {
                        "name": "siteUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/siteUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-_]{1,64}",
                            "type": "string"
                        }
                    },
                    {
                        "name": "paymentUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/paymentUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "apiVersion",
                        "in": "path",
                        "description": "Версия API",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "v1.0"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WrappedRequestDTOCreatePaymentRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentResponseDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "HTTPBadRequest",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                },
                                "example": {
                                    "code": "400",
                                    "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                                    "message": "Что то пошло не так",
                                    "Errors": [
                                        {
                                            "errorCode": "HTTPBadRequest",
                                            "message": "Something going wrong",
                                            "url": "http://enter.tochka.com/open-banking/docs"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{apiVersion}/sites/{siteUid}/payments/{paymentUid}/refunds/{refundUid}": {
            "get": {
                "tags": [
                    "Возвраты"
                ],
                "summary": "Статус возврата",
                "description": "Получить статус указанного возврата",
                "operationId": "getRefund",
                "parameters": [
                    {
                        "name": "siteUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/siteUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-_]{1,64}",
                            "type": "string"
                        }
                    },
                    {
                        "name": "paymentUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/paymentUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "refundUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/refundUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "apiVersion",
                        "in": "path",
                        "description": "Версия API",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "v1.0"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RefundResponseDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "HTTPBadRequest",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                },
                                "example": {
                                    "code": "400",
                                    "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                                    "message": "Что то пошло не так",
                                    "Errors": [
                                        {
                                            "errorCode": "HTTPBadRequest",
                                            "message": "Something going wrong",
                                            "url": "http://enter.tochka.com/open-banking/docs"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Возвраты"
                ],
                "summary": "Создание операции возврата",
                "description": "Запрос предназначен для возврата средств по завершенному платежу",
                "operationId": "createRefundByRefundUid",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/signature"
                    },
                    {
                        "name": "siteUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/siteUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-_]{1,64}",
                            "type": "string"
                        }
                    },
                    {
                        "name": "paymentUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/paymentUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "refundUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/refundUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "apiVersion",
                        "in": "path",
                        "description": "Версия API",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "v1.0"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WrappedRequestDTORefundRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RefundResponseDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "HTTPBadRequest",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                },
                                "example": {
                                    "code": "400",
                                    "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                                    "message": "Что то пошло не так",
                                    "Errors": [
                                        {
                                            "errorCode": "HTTPBadRequest",
                                            "message": "Something going wrong",
                                            "url": "http://enter.tochka.com/open-banking/docs"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{apiVersion}/sites/{siteUid}/payments/{paymentUid}/captures/{captureUid}": {
            "get": {
                "tags": [
                    "Подтверждение"
                ],
                "summary": "Статус подтверждения",
                "description": "Получить статус указанного подтверждения платежа",
                "operationId": "getCapture",
                "parameters": [
                    {
                        "name": "siteUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/siteUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-_]{1,64}",
                            "type": "string"
                        }
                    },
                    {
                        "name": "paymentUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/paymentUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "captureUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/captureUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "apiVersion",
                        "in": "path",
                        "description": "Версия API",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "v1.0"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CaptureResponseDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "HTTPBadRequest",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                },
                                "example": {
                                    "code": "400",
                                    "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                                    "message": "Что то пошло не так",
                                    "Errors": [
                                        {
                                            "errorCode": "HTTPBadRequest",
                                            "message": "Something going wrong",
                                            "url": "http://enter.tochka.com/open-banking/docs"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Подтверждение"
                ],
                "summary": "Подтверждение платежа",
                "description": "Подтвердить платеж после холдирования средств. Данный запрос необходим для подтверждения операции при двустадийном сценарии проведения платежа.\n**Возможно только однократное успешное подтверждение платежа.**",
                "operationId": "createCaptureByCaptureUid",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/signature"
                    },
                    {
                        "name": "siteUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/siteUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-_]{1,64}",
                            "type": "string"
                        }
                    },
                    {
                        "name": "paymentUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/paymentUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "captureUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/captureUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "apiVersion",
                        "in": "path",
                        "description": "Версия API",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "v1.0"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WrappedRequestDTOCaptureRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CaptureResponseDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "HTTPBadRequest",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                },
                                "example": {
                                    "code": "400",
                                    "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                                    "message": "Что то пошло не так",
                                    "Errors": [
                                        {
                                            "errorCode": "HTTPBadRequest",
                                            "message": "Something going wrong",
                                            "url": "http://enter.tochka.com/open-banking/docs"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{apiVersion}/sites/{siteUid}/payments": {
            "post": {
                "tags": [
                    "Платеж через форму мерчанта"
                ],
                "summary": "Создание платежа",
                "description": "Создать платежную транзакцию",
                "operationId": "createPayment",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/signature"
                    },
                    {
                        "name": "siteUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/siteUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-_]{1,64}",
                            "type": "string"
                        }
                    },
                    {
                        "name": "apiVersion",
                        "in": "path",
                        "description": "Версия API",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "v1.0"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WrappedRequestDTOCreatePaymentRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentResponseDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "HTTPBadRequest",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                },
                                "example": {
                                    "code": "400",
                                    "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                                    "message": "Что то пошло не так",
                                    "Errors": [
                                        {
                                            "errorCode": "HTTPBadRequest",
                                            "message": "Something going wrong",
                                            "url": "http://enter.tochka.com/open-banking/docs"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{apiVersion}/sites/{siteUid}/payments/{paymentUid}/refunds": {
            "get": {
                "tags": [
                    "Возвраты"
                ],
                "summary": "Статус возвратов",
                "description": "Получить статусы всех возвратов для данного платежа",
                "operationId": "getRefunds",
                "parameters": [
                    {
                        "name": "siteUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/siteUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-_]{1,64}",
                            "type": "string"
                        }
                    },
                    {
                        "name": "paymentUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/paymentUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "apiVersion",
                        "in": "path",
                        "description": "Версия API",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "v1.0"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RefundResponseListDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "HTTPBadRequest",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                },
                                "example": {
                                    "code": "400",
                                    "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                                    "message": "Что то пошло не так",
                                    "Errors": [
                                        {
                                            "errorCode": "HTTPBadRequest",
                                            "message": "Something going wrong",
                                            "url": "http://enter.tochka.com/open-banking/docs"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Возвраты"
                ],
                "summary": "Создание операции возврата",
                "description": "Запрос предназначен для возврата средств по завершенному платежу",
                "operationId": "createRefund",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/signature"
                    },
                    {
                        "name": "siteUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/siteUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-_]{1,64}",
                            "type": "string"
                        }
                    },
                    {
                        "name": "paymentUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/paymentUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "apiVersion",
                        "in": "path",
                        "description": "Версия API",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "v1.0"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WrappedRequestDTORefundRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RefundResponseDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "HTTPBadRequest",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                },
                                "example": {
                                    "code": "400",
                                    "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                                    "message": "Что то пошло не так",
                                    "Errors": [
                                        {
                                            "errorCode": "HTTPBadRequest",
                                            "message": "Something going wrong",
                                            "url": "http://enter.tochka.com/open-banking/docs"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{apiVersion}/sites/{siteUid}/payments/{paymentUid}/complete": {
            "post": {
                "tags": [
                    "Завершение аутентификации"
                ],
                "summary": "Завершение аутентификации",
                "description": "После успешного прохождения дополнительной аутентификации, ТСП необходимо отправить запрос с параметрами соответствующими типу дополнительной аутентификации для завершения проверки",
                "operationId": "completePayment",
                "parameters": [
                    {
                        "name": "siteUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/siteUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-_]{1,64}",
                            "type": "string"
                        }
                    },
                    {
                        "name": "paymentUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/paymentUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "apiVersion",
                        "in": "path",
                        "description": "Версия API",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "v1.0"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WrappedRequestDTOCompleteRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentResponseDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "HTTPBadRequest",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                },
                                "example": {
                                    "code": "400",
                                    "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                                    "message": "Что то пошло не так",
                                    "Errors": [
                                        {
                                            "errorCode": "HTTPBadRequest",
                                            "message": "Something going wrong",
                                            "url": "http://enter.tochka.com/open-banking/docs"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{apiVersion}/sites/{siteUid}/payments/{paymentUid}/captures": {
            "get": {
                "tags": [
                    "Подтверждение"
                ],
                "summary": "Список подтверждений платежа",
                "description": "Получить список попыток подтверждения платежа",
                "operationId": "getCaptures",
                "parameters": [
                    {
                        "name": "siteUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/siteUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-_]{1,64}",
                            "type": "string"
                        }
                    },
                    {
                        "name": "paymentUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/paymentUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "apiVersion",
                        "in": "path",
                        "description": "Версия API",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "v1.0"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CaptureResponseListDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "HTTPBadRequest",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                },
                                "example": {
                                    "code": "400",
                                    "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                                    "message": "Что то пошло не так",
                                    "Errors": [
                                        {
                                            "errorCode": "HTTPBadRequest",
                                            "message": "Something going wrong",
                                            "url": "http://enter.tochka.com/open-banking/docs"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Подтверждение"
                ],
                "summary": "Подтверждение платежа",
                "description": "Подтвердить платеж после холдирования средств. Данный запрос необходим для подтверждения операции при двустадийном сценарии проведения платежа.\n**Возможно только однократное успешное подтверждение платежа.**",
                "operationId": "createCapture",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/signature"
                    },
                    {
                        "name": "siteUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/siteUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-_]{1,64}",
                            "type": "string"
                        }
                    },
                    {
                        "name": "paymentUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/paymentUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "apiVersion",
                        "in": "path",
                        "description": "Версия API",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "v1.0"
                            ]
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WrappedRequestDTOCaptureRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CaptureResponseDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "HTTPBadRequest",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                },
                                "example": {
                                    "code": "400",
                                    "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                                    "message": "Что то пошло не так",
                                    "Errors": [
                                        {
                                            "errorCode": "HTTPBadRequest",
                                            "message": "Something going wrong",
                                            "url": "http://enter.tochka.com/open-banking/docs"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "PaymentAmount": {
                "required": [
                    "currency",
                    "value"
                ],
                "type": "object",
                "properties": {
                    "currency": {
                        "type": "string",
                        "description": "Валюта в формате ISO4217",
                        "example": "RUB"
                    },
                    "value": {
                        "type": "number",
                        "description": "Сумма операции",
                        "example": 100.0
                    }
                },
                "description": "Информация о сумме операции"
            },
            "CapturedAmount": {
                "required": [
                    "currency",
                    "value"
                ],
                "type": "object",
                "properties": {
                    "currency": {
                        "type": "string",
                        "description": "Валюта в формате ISO4217",
                        "example": "RUB"
                    },
                    "value": {
                        "type": "number",
                        "description": "Сумма операции",
                        "example": 100.0
                    }
                },
                "description": "Информация о сумме подтверждений"
            },
            "RefundedAmount": {
                "required": [
                    "currency",
                    "value"
                ],
                "type": "object",
                "properties": {
                    "currency": {
                        "type": "string",
                        "description": "Валюта в формате ISO4217",
                        "example": "RUB"
                    },
                    "value": {
                        "type": "number",
                        "description": "Сумма операции",
                        "example": 100.0
                    }
                },
                "description": "Информация о сумме возвратов"
            },
            "AddressDTO": {
                "type": "object",
                "properties": {
                    "country": {
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "description": "Страна адреса покупателя",
                        "example": "Russia"
                    },
                    "region": {
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "description": "Регион адреса покупателя",
                        "example": "Moscow"
                    },
                    "city": {
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "description": "Город адреса покупателя",
                        "example": "Moscow city"
                    },
                    "details": {
                        "maxLength": 256,
                        "minLength": 1,
                        "type": "string",
                        "description": "Детали адреса покупателя",
                        "example": "Verhnyaya Radishchevskaya ulica, dom 2/1"
                    }
                },
                "description": "Адрес покупателя"
            },
            "CardPaymentMethod": {
                "required": [
                    "expirationDate",
                    "pan",
                    "type"
                ],
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/PaymentMethodDTO"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "pan": {
                                "pattern": "^\\d{13,19}$",
                                "type": "string",
                                "description": "Номер банковской карты",
                                "example": "22279992308606"
                            },
                            "expirationDate": {
                                "pattern": "(?:0?[1-9]|1[0-2])/[0-9]{2}",
                                "type": "string",
                                "description": "Срок действия банковской карты",
                                "example": "12/28"
                            },
                            "cvv2": {
                                "pattern": "^\\d{3}$",
                                "type": "string",
                                "description": "CVV2/CVC2 на банковской карте",
                                "example": "123"
                            },
                            "holderName": {
                                "pattern": "^[0-9a-zA-Z-/ _.']{1,26}$",
                                "type": "string",
                                "description": "Имя клиента, указанное на банковской карте",
                                "example": "CARD HOLDER"
                            },
                            "tokenizationCredentials": {
                                "oneOf": [
                                    {
                                        "$ref": "#/components/schemas/CredentialCaptured"
                                    },
                                    {
                                        "$ref": "#/components/schemas/CredentialOnFile"
                                    },
                                    {
                                        "$ref": "#/components/schemas/Installment"
                                    },
                                    {
                                        "$ref": "#/components/schemas/Recurring"
                                    }
                                ]
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "CARD"
                                ]
                            }
                        }
                    }
                ]
            },
            "CreatePaymentRequestDTO": {
                "required": [
                    "amount",
                    "captureMode",
                    "extras",
                    "paymentMethod"
                ],
                "type": "object",
                "properties": {
                    "paymentUid": {
                        "pattern": "^[0-9a-zA-Z-]{1,64}$",
                        "type": "string",
                        "description": "Уникальный идентификатор платежа в информационной системе ТСП",
                        "example": "977639EE70494C67"
                    },
                    "orderUid": {
                        "pattern": "^[0-9a-zA-Z-]{1,64}$",
                        "type": "string",
                        "description": "Уникальный идентификатор заказа в информационной системе ТСП",
                        "example": "12EKN0170494C67"
                    },
                    "amount": {
                        "$ref": "#/components/schemas/PaymentAmount"
                    },
                    "paymentMethod": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/CardPaymentMethod"
                            }
                        ]
                    },
                    "customer": {
                        "$ref": "#/components/schemas/CustomerDTO"
                    },
                    "callbackUrl": {
                        "maxLength": 2083,
                        "minLength": 1,
                        "pattern": "^https?://[-a-zA-Z0-9¡-￿+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9¡-￿+&@#/%=~_|]",
                        "type": "string",
                        "description": "URL отправки уведомления об операции",
                        "example": "https://test.tochkapay.com/notification"
                    },
                    "successUrl": {
                        "maxLength": 2083,
                        "minLength": 1,
                        "pattern": "^https?://[-a-zA-Z0-9¡-￿+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9¡-￿+&@#/%=~_|]",
                        "type": "string",
                        "description": "URL для перенаправления при успешной операции",
                        "example": "https://test.tochkapay.com/success"
                    },
                    "declineUrl": {
                        "maxLength": 2083,
                        "minLength": 1,
                        "pattern": "^https?://[-a-zA-Z0-9¡-￿+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9¡-￿+&@#/%=~_|]",
                        "type": "string",
                        "description": "URL для перенаправления при отклоненной операции",
                        "example": "https://test.tochkapay.com/decline"
                    },
                    "comment": {
                        "maxLength": 255,
                        "minLength": 1,
                        "type": "string",
                        "description": "Комментарий"
                    },
                    "extras": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "description": "Дополнительные поля с произвольной информацией.\n Пример формата: `{\"property1\": \"string\"}`"
                        },
                        "description": "Дополнительные поля с произвольной информацией.\n Пример формата: `{\"property1\": \"string\"}`"
                    },
                    "captureMode": {
                        "type": "string",
                        "description": "Признак двухстадийного сценария: \n- `AUTO` — подтверждение платежа производится автоматически;  \n- `MANUAL` — требуется подтверждение платежа последующим запросом.",
                        "enum": [
                            "AUTO",
                            "MANUAL"
                        ]
                    }
                }
            },
            "CredentialCaptured": {
                "required": [
                    "subType",
                    "trn",
                    "type"
                ],
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/TokenizationCredentials"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "trn": {
                                "type": "string"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "CIT"
                                ]
                            },
                            "subType": {
                                "type": "string",
                                "enum": [
                                    "CREDENTIAL_CAPTURED"
                                ]
                            }
                        }
                    }
                ]
            },
            "CredentialOnFile": {
                "required": [
                    "subType",
                    "type"
                ],
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/TokenizationCredentials"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "type": {
                                "type": "string",
                                "enum": [
                                    "CIT",
                                    "MIT"
                                ]
                            },
                            "subType": {
                                "type": "string",
                                "enum": [
                                    "CREDENTIAL_ON_FILE"
                                ]
                            }
                        }
                    }
                ]
            },
            "CustomerDTO": {
                "type": "object",
                "properties": {
                    "account": {
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "description": "Идентификатор пользователя",
                        "example": "E268443E43D93DAB7EBEF303BBE9642F"
                    },
                    "email": {
                        "maxLength": 64,
                        "minLength": 1,
                        "pattern": "^[^@\\s]+@[^@\\s]+$",
                        "type": "string",
                        "description": "E-mail пользователя",
                        "example": "pay@tochka.com"
                    },
                    "phone": {
                        "pattern": "^\\+?\\d{11,16}$",
                        "type": "string",
                        "description": "Номер телефона пользователя",
                        "example": "79123456789"
                    },
                    "firstName": {
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "description": "Имя покупателя",
                        "example": "Ivan"
                    },
                    "middleName": {
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "description": "Отчество покупателя",
                        "example": "Ivanovich"
                    },
                    "lastName": {
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "description": "Фамилия покупателя",
                        "example": "Ivanov"
                    },
                    "simpleAddress": {
                        "maxLength": 256,
                        "minLength": 1,
                        "type": "string",
                        "description": "Адрес покупателя",
                        "example": "Verhnyaya Radishchevskaya ulica, dom 2/1"
                    },
                    "address": {
                        "$ref": "#/components/schemas/AddressDTO"
                    }
                }
            },
            "Installment": {
                "required": [
                    "subType",
                    "trn",
                    "type"
                ],
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/TokenizationCredentials"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "trn": {
                                "type": "string"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "MIT"
                                ]
                            },
                            "subType": {
                                "type": "string",
                                "enum": [
                                    "INSTALLMENT"
                                ]
                            }
                        }
                    }
                ]
            },
            "MoneyDTO": {
                "$ref": "#/components/schemas/PaymentAmount"
            },
            "PaymentMethodDTO": {
                "required": [
                    "type"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "Тип платежного метода",
                        "enum": [
                            "CARD"
                        ]
                    }
                },
                "description": "Метод платежа",
                "discriminator": {
                    "propertyName": "type"
                }
            },
            "Recurring": {
                "required": [
                    "subType",
                    "trn",
                    "type"
                ],
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/TokenizationCredentials"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "trn": {
                                "type": "string"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "MIT"
                                ]
                            },
                            "subType": {
                                "type": "string",
                                "enum": [
                                    "RECURRING"
                                ]
                            }
                        }
                    }
                ]
            },
            "TokenizationCredentials": {
                "required": [
                    "subType"
                ],
                "type": "object",
                "properties": {
                    "subType": {
                        "type": "string"
                    }
                },
                "description": "Параметры для обработки операций с сохраненными картами",
                "discriminator": {
                    "propertyName": "subType"
                }
            },
            "WrappedRequestDTOCreatePaymentRequestDTO": {
                "required": [
                    "Data"
                ],
                "type": "object",
                "properties": {
                    "Data": {
                        "$ref": "#/components/schemas/CreatePaymentRequestDTO"
                    }
                }
            },
            "CardPaymentMethodResult": {
                "required": [
                    "maskedPan",
                    "type"
                ],
                "type": "object",
                "description": "CARD",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/PaymentMethodResultDTO"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "maskedPan": {
                                "pattern": "^\\d{4,8}\\*{1,11}\\d{2}$",
                                "type": "string",
                                "description": "Маскированный номер карты",
                                "example": "41111111******11"
                            },
                            "expirationDate": {
                                "pattern": "(?:0?[1-9]|1[0-2])/[0-9]{2}",
                                "type": "string",
                                "description": "Срок действия банковской карты"
                            },
                            "holderName": {
                                "pattern": "^[0-9a-zA-Z-/ _.']{1,26}$",
                                "type": "string",
                                "description": "Имя клиента, указанное на банковской карте",
                                "example": "CARD HOLDER"
                            },
                            "rrn": {
                                "maxLength": 12,
                                "minLength": 12,
                                "type": "string",
                                "description": "RRN платежа",
                                "example": "003235873473"
                            },
                            "authCode": {
                                "pattern": "^\\d{6}$",
                                "type": "string",
                                "description": "Auth-code платежа",
                                "example": "347328"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "CARD"
                                ]
                            }
                        }
                    }
                ]
            },
            "Completed": {
                "required": [
                    "changedDateTime",
                    "value"
                ],
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ResponseStatusDTO"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "changedDateTime": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "value": {
                                "type": "string",
                                "enum": [
                                    "WAITING",
                                    "DECLINED",
                                    "COMPLETED"
                                ]
                            }
                        }
                    }
                ]
            },
            "Declined": {
                "required": [
                    "changedDateTime",
                    "reason",
                    "reasonMessage",
                    "value"
                ],
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ResponseStatusDTO"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "changedDateTime": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "reason": {
                                "maxLength": 100,
                                "minLength": 1,
                                "type": "string"
                            },
                            "reasonMessage": {
                                "maxLength": 500,
                                "minLength": 1,
                                "type": "string"
                            },
                            "psErrorCode": {
                                "maxLength": 5,
                                "minLength": 0,
                                "type": "string"
                            },
                            "value": {
                                "type": "string",
                                "enum": [
                                    "WAITING",
                                    "DECLINED",
                                    "COMPLETED"
                                ]
                            }
                        }
                    }
                ]
            },
            "PaymentMethodResultDTO": {
                "required": [
                    "type"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "Тип платежного метода",
                        "enum": [
                            "CARD"
                        ]
                    }
                },
                "description": "Метод платежа",
                "discriminator": {
                    "propertyName": "type"
                }
            },
            "PaymentResponseDTO": {
                "type": "object",
                "properties": {
                    "Data": {
                        "required": [
                            "amount",
                            "capturedAmount",
                            "createdDateTime",
                            "isTest",
                            "paymentMethod",
                            "paymentUid",
                            "refundedAmount",
                            "status"
                        ],
                        "type": "object",
                        "properties": {
                            "paymentUid": {
                                "pattern": "^[0-9a-zA-Z-]{1,64}$",
                                "type": "string",
                                "description": "Уникальный идентификатор платежа в информационной системе ТСП",
                                "example": "977639EE70494C67"
                            },
                            "createdDateTime": {
                                "type": "string",
                                "description": "Дата создания платежа",
                                "format": "date-time"
                            },
                            "orderUid": {
                                "pattern": "^[0-9a-zA-Z-]{1,64}$",
                                "type": "string",
                                "description": "Уникальный идентификатор заказа в информационной системе ТСП",
                                "example": "12EKN0170494C67"
                            },
                            "amount": {
                                "$ref": "#/components/schemas/PaymentAmount"
                            },
                            "capturedAmount": {
                                "$ref": "#/components/schemas/CapturedAmount"
                            },
                            "refundedAmount": {
                                "$ref": "#/components/schemas/RefundedAmount"
                            },
                            "paymentMethod": {
                                "oneOf": [
                                    {
                                        "$ref": "#/components/schemas/CardPaymentMethodResult"
                                    }
                                ]
                            },
                            "status": {
                                "oneOf": [
                                    {
                                        "$ref": "#/components/schemas/Completed"
                                    },
                                    {
                                        "$ref": "#/components/schemas/Declined"
                                    },
                                    {
                                        "$ref": "#/components/schemas/Waiting"
                                    }
                                ]
                            },
                            "customer": {
                                "$ref": "#/components/schemas/CustomerDTO"
                            },
                            "requirements": {
                                "oneOf": [
                                    {
                                        "$ref": "#/components/schemas/ThreeDSRequirements"
                                    }
                                ]
                            },
                            "callbackUrl": {
                                "maxLength": 2083,
                                "minLength": 1,
                                "pattern": "^https?://[-a-zA-Z0-9¡-￿+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9¡-￿+&@#/%=~_|]",
                                "type": "string",
                                "description": "URL отправки уведомления об операции",
                                "example": "https://test.tochkapay.com/notification"
                            },
                            "successUrl": {
                                "maxLength": 2083,
                                "minLength": 1,
                                "pattern": "^https?://[-a-zA-Z0-9¡-￿+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9¡-￿+&@#/%=~_|]",
                                "type": "string",
                                "description": "URL для перенаправления при успешной операции",
                                "example": "https://test.tochkapay.com/success"
                            },
                            "declineUrl": {
                                "maxLength": 2083,
                                "minLength": 1,
                                "pattern": "^https?://[-a-zA-Z0-9¡-￿+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9¡-￿+&@#/%=~_|]",
                                "type": "string",
                                "description": "URL для перенаправления при отклоненной операции",
                                "example": "https://test.tochkapay.com/decline"
                            },
                            "comment": {
                                "maxLength": 255,
                                "minLength": 1,
                                "type": "string",
                                "description": "Комментарий"
                            },
                            "extras": {
                                "type": "object",
                                "additionalProperties": {
                                    "type": "string",
                                    "description": "Дополнительные поля с произвольной информацией.\n Пример формата: `{\"property1\": \"string\"}`"
                                },
                                "description": "Дополнительные поля с произвольной информацией.\n Пример формата: `{\"property1\": \"string\"}`"
                            },
                            "captureMode": {
                                "type": "string",
                                "description": "Признак двухстадийного сценария: \n- `AUTO` — подтверждение платежа производится автоматически;  \n- `MANUAL` — требуется подтверждение платежа последующим запросом.",
                                "enum": [
                                    "AUTO",
                                    "MANUAL"
                                ]
                            },
                            "isTest": {
                                "type": "boolean",
                                "description": "Флаг тестовой операции"
                            }
                        }
                    },
                    "Links": {
                        "required": [
                            "self"
                        ],
                        "type": "object",
                        "properties": {
                            "self": {
                                "maxLength": 2083,
                                "minLength": 1,
                                "pattern": "^https?://[-a-zA-Z0-9¡-￿+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9¡-￿+&@#/%=~_|]",
                                "type": "string",
                                "example": "https://enter.tochka.com/uapi/pay"
                            }
                        },
                        "description": "Links"
                    },
                    "Meta": {
                        "required": [
                            "totalPages"
                        ],
                        "type": "object",
                        "properties": {
                            "totalPages": {
                                "type": "integer",
                                "format": "int32"
                            }
                        }
                    }
                }
            },
            "RequirementsDTO": {
                "required": [
                    "type"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "enum": [
                            "THREE_DS"
                        ]
                    }
                },
                "description": "Требования для дополнительной аутентификации клиента",
                "discriminator": {
                    "propertyName": "type"
                }
            },
            "ResponseStatusDTO": {
                "required": [
                    "changedDateTime",
                    "value"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "string",
                        "description": "Значение статуса операции",
                        "enum": [
                            "WAITING",
                            "DECLINED",
                            "COMPLETED"
                        ]
                    },
                    "changedDateTime": {
                        "type": "string",
                        "description": "Дата обновления платежа",
                        "format": "date-time"
                    }
                },
                "description": "Статус операции"
            },
            "ThreeDSRequirements": {
                "required": [
                    "acsUrl",
                    "paReq",
                    "type"
                ],
                "type": "object",
                "description": "Данные для аутентификации банковских карт по протоколам 3DS и 3DS 2.0",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/RequirementsDTO"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "paReq": {
                                "maxLength": 16384,
                                "minLength": 1,
                                "type": "string",
                                "description": "Сообщение для передачи в ACS банка-эмитента через браузер клиента",
                                "example": "BC58+5698AE46DE4=="
                            },
                            "acsUrl": {
                                "maxLength": 2083,
                                "minLength": 1,
                                "pattern": "^https?://[-a-zA-Z0-9¡-￿+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9¡-￿+&@#/%=~_|]",
                                "type": "string",
                                "description": "URL ACS сервера банка-эмитента для перенаправления клиента",
                                "example": "https://example.tochkapayment.ru/acs/"
                            }
                        }
                    }
                ]
            },
            "Waiting": {
                "required": [
                    "changedDateTime",
                    "value"
                ],
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ResponseStatusDTO"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "changedDateTime": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "value": {
                                "type": "string",
                                "enum": [
                                    "WAITING",
                                    "DECLINED",
                                    "COMPLETED"
                                ]
                            }
                        }
                    }
                ]
            },
            "RefundRequestDTO": {
                "type": "object",
                "properties": {
                    "refundUid": {
                        "pattern": "^[0-9a-zA-Z-]{1,64}$",
                        "type": "string",
                        "description": "Уникальный идентификатор возврата в информационной системе ТСП"
                    },
                    "amount": {
                        "$ref": "#/components/schemas/MoneyDTO"
                    },
                    "callbackUrl": {
                        "maxLength": 2083,
                        "minLength": 1,
                        "pattern": "^https?://[-a-zA-Z0-9¡-￿+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9¡-￿+&@#/%=~_|]",
                        "type": "string",
                        "description": "URL отправки уведомления об операции",
                        "example": "https://test.tochkapay.com/notification"
                    },
                    "comment": {
                        "maxLength": 255,
                        "minLength": 1,
                        "type": "string",
                        "description": "Дополнительное описание возврата",
                        "example": "Возврат за услугу"
                    }
                }
            },
            "WrappedRequestDTORefundRequestDTO": {
                "required": [
                    "Data"
                ],
                "type": "object",
                "properties": {
                    "Data": {
                        "$ref": "#/components/schemas/RefundRequestDTO"
                    }
                }
            },
            "CardRefundMethodResultDTO": {
                "required": [
                    "type"
                ],
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/RefundMethodResultDTO"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "rrn": {
                                "maxLength": 12,
                                "minLength": 12,
                                "type": "string",
                                "description": "RRN операции",
                                "example": "003235873473"
                            },
                            "authCode": {
                                "pattern": "^\\d{6}$",
                                "type": "string",
                                "description": "Auth-code операции",
                                "example": "347328"
                            }
                        }
                    }
                ]
            },
            "RefundMethodResultDTO": {
                "required": [
                    "type"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "enum": [
                            "CARD"
                        ]
                    }
                },
                "description": "Дополнительные данные возврата"
            },
            "RefundResponseDTO": {
                "type": "object",
                "properties": {
                    "Data": {
                        "required": [
                            "amount",
                            "createdDateTime",
                            "isReversal",
                            "refundUid",
                            "status"
                        ],
                        "type": "object",
                        "properties": {
                            "refundUid": {
                                "pattern": "^[0-9a-zA-Z-]{1,64}$",
                                "type": "string",
                                "description": "Уникальный идентификатор возврата в информационной системе ТСП",
                                "example": "8H7GSEE7018GC67"
                            },
                            "createdDateTime": {
                                "type": "string",
                                "description": "Дата создания операции в формате ISO8601",
                                "format": "date-time"
                            },
                            "amount": {
                                "$ref": "#/components/schemas/MoneyDTO"
                            },
                            "status": {
                                "oneOf": [
                                    {
                                        "$ref": "#/components/schemas/Completed"
                                    },
                                    {
                                        "$ref": "#/components/schemas/Declined"
                                    },
                                    {
                                        "$ref": "#/components/schemas/Waiting"
                                    }
                                ]
                            },
                            "callbackUrl": {
                                "maxLength": 2083,
                                "minLength": 1,
                                "pattern": "^https?://[-a-zA-Z0-9¡-￿+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9¡-￿+&@#/%=~_|]",
                                "type": "string",
                                "description": "URL отправки уведомления об операции",
                                "example": "https://test.tochkapay.com/notification"
                            },
                            "comment": {
                                "maxLength": 255,
                                "minLength": 1,
                                "type": "string",
                                "description": "Дополнительное описание возврата",
                                "example": "Возврат за услугу"
                            },
                            "refundMethodResult": {
                                "oneOf": [
                                    {
                                        "$ref": "#/components/schemas/CardRefundMethodResultDTO"
                                    }
                                ]
                            },
                            "isReversal": {
                                "type": "boolean",
                                "description": "Признак использования операции отмены"
                            }
                        }
                    },
                    "Links": {
                        "required": [
                            "self"
                        ],
                        "type": "object",
                        "properties": {
                            "self": {
                                "maxLength": 2083,
                                "minLength": 1,
                                "pattern": "^https?://[-a-zA-Z0-9¡-￿+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9¡-￿+&@#/%=~_|]",
                                "type": "string",
                                "example": "https://enter.tochka.com/uapi/pay"
                            }
                        },
                        "description": "Links"
                    },
                    "Meta": {
                        "required": [
                            "totalPages"
                        ],
                        "type": "object",
                        "properties": {
                            "totalPages": {
                                "type": "integer",
                                "format": "int32"
                            }
                        }
                    }
                }
            },
            "CaptureRequestDTO": {
                "type": "object",
                "properties": {
                    "captureUid": {
                        "pattern": "^[0-9a-zA-Z-]{1,64}$",
                        "type": "string",
                        "description": "Идентификатор подтверждения платежа в информационной системе ТСП",
                        "example": "8H7GSEE7018GC67"
                    },
                    "amount": {
                        "$ref": "#/components/schemas/MoneyDTO"
                    },
                    "callbackUrl": {
                        "maxLength": 2083,
                        "minLength": 1,
                        "pattern": "^https?://[-a-zA-Z0-9¡-￿+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9¡-￿+&@#/%=~_|]",
                        "type": "string",
                        "description": "URL отправки уведомления об операции",
                        "example": "https://test.tochkapay.com/notification"
                    },
                    "comment": {
                        "maxLength": 255,
                        "minLength": 1,
                        "type": "string",
                        "description": "Комментарий"
                    }
                }
            },
            "WrappedRequestDTOCaptureRequestDTO": {
                "required": [
                    "Data"
                ],
                "type": "object",
                "properties": {
                    "Data": {
                        "$ref": "#/components/schemas/CaptureRequestDTO"
                    }
                }
            },
            "CaptureResponseDTO": {
                "type": "object",
                "properties": {
                    "Data": {
                        "required": [
                            "amount",
                            "captureUid",
                            "createdDateTime",
                            "status"
                        ],
                        "type": "object",
                        "properties": {
                            "captureUid": {
                                "pattern": "^[0-9a-zA-Z-]{1,64}$",
                                "type": "string"
                            },
                            "createdDateTime": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "amount": {
                                "$ref": "#/components/schemas/MoneyDTO"
                            },
                            "status": {
                                "oneOf": [
                                    {
                                        "$ref": "#/components/schemas/Completed"
                                    },
                                    {
                                        "$ref": "#/components/schemas/Declined"
                                    },
                                    {
                                        "$ref": "#/components/schemas/Waiting"
                                    }
                                ]
                            },
                            "callbackUrl": {
                                "maxLength": 2083,
                                "minLength": 1,
                                "pattern": "^https?://[-a-zA-Z0-9¡-￿+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9¡-￿+&@#/%=~_|]",
                                "type": "string",
                                "description": "URL отправки уведомления об операции",
                                "example": "https://test.tochkapay.com/notification"
                            },
                            "comment": {
                                "maxLength": 255,
                                "minLength": 1,
                                "type": "string",
                                "description": "Комментарий"
                            }
                        }
                    },
                    "Links": {
                        "required": [
                            "self"
                        ],
                        "type": "object",
                        "properties": {
                            "self": {
                                "maxLength": 2083,
                                "minLength": 1,
                                "pattern": "^https?://[-a-zA-Z0-9¡-￿+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9¡-￿+&@#/%=~_|]",
                                "type": "string",
                                "example": "https://enter.tochka.com/uapi/pay"
                            }
                        },
                        "description": "Links"
                    },
                    "Meta": {
                        "required": [
                            "totalPages"
                        ],
                        "type": "object",
                        "properties": {
                            "totalPages": {
                                "type": "integer",
                                "format": "int32"
                            }
                        }
                    }
                }
            },
            "CompleteRequestDTO": {
                "required": [
                    "type"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "enum": [
                            "THREE_DS"
                        ]
                    }
                },
                "discriminator": {
                    "propertyName": "type"
                }
            },
            "ThreeDSCompleteRequestDTO": {
                "required": [
                    "paRes",
                    "type"
                ],
                "type": "object",
                "description": "Данные для аутентификации банковских карт по протоколам 3DS и 3DS 2.0",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CompleteRequestDTO"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "paRes": {
                                "maxLength": 16384,
                                "minLength": 1,
                                "type": "string",
                                "description": "Результат аутентификации покупателя, полученный после возврата с ACS банка-эмитента",
                                "example": "eJxVjDsOwjAQBe+S0SWKiXHdwMhWmCbXIpZWa+O..."
                            }
                        }
                    }
                ]
            },
            "WrappedRequestDTOCompleteRequestDTO": {
                "required": [
                    "Data"
                ],
                "type": "object",
                "properties": {
                    "Data": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/ThreeDSCompleteRequestDTO"
                            }
                        ]
                    }
                }
            },
            "RefundResponseListDTO": {
                "type": "object",
                "properties": {
                    "Data": {
                        "type": "array",
                        "items": {
                            "required": [
                                "amount",
                                "createdDateTime",
                                "isReversal",
                                "refundUid",
                                "status"
                            ],
                            "type": "object",
                            "properties": {
                                "refundUid": {
                                    "pattern": "^[0-9a-zA-Z-]{1,64}$",
                                    "type": "string",
                                    "description": "Уникальный идентификатор возврата в информационной системе ТСП",
                                    "example": "8H7GSEE7018GC67"
                                },
                                "createdDateTime": {
                                    "type": "string",
                                    "description": "Дата создания операции в формате ISO8601",
                                    "format": "date-time"
                                },
                                "amount": {
                                    "$ref": "#/components/schemas/MoneyDTO"
                                },
                                "status": {
                                    "oneOf": [
                                        {
[...]
