{
    "openapi": "3.0.1",
    "info": {
        "title": "API Приема платежей",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://enter.tochka.com/uapi/pay/",
            "description": "Боевой сервер Production"
        },
        {
            "url": "https://enter.tochka.com/sandbox/v2/pay/",
            "description": "Сервер песочницы"
        }
    ],
    "tags": [
        {
            "name": "Платежи",
            "description": "Методы для проведения платежей"
        }
    ],
    "paths": {
        "/v1/sites/{siteUid}/payments/{paymentUid}": {
            "get": {
                "tags": [
                    "Платежи"
                ],
                "summary": "Получение информации о платеже",
                "description": "<Описание метода получени информации платежа>",
                "operationId": "getPayment",
                "parameters": [
                    {
                        "name": "siteUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/siteUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-_]{1,64}",
                            "type": "string"
                        }
                    },
                    {
                        "name": "paymentUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/paymentUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessWrappedResponseDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/ErrorResponseDTO"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessWrappedResponseDTO"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Платежи"
                ],
                "summary": "Создание платежа",
                "description": "<Описание метода создания платежа>",
                "operationId": "createPayment",
                "parameters": [
                    {
                        "name": "siteUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/siteUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-_]{1,64}",
                            "type": "string"
                        }
                    },
                    {
                        "name": "paymentUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/paymentUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WrappedRequestDTOCreatePaymentRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessWrappedResponseDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/ErrorResponseDTO"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessWrappedResponseDTO"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/sites/{siteUid}/payments/{paymentUid}/refunds/{refundUid}": {
            "get": {
                "tags": [
                    "refund-controller"
                ],
                "operationId": "getRefund",
                "parameters": [
                    {
                        "name": "siteUid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-_]{1,64}",
                            "type": "string"
                        }
                    },
                    {
                        "name": "paymentUid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "refundUid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/ErrorResponseDTO"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessWrappedResponseDTO"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "refund-controller"
                ],
                "operationId": "createRefund",
                "parameters": [
                    {
                        "name": "siteUid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-_]{1,64}",
                            "type": "string"
                        }
                    },
                    {
                        "name": "paymentUid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "refundUid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WrappedRequestDTORefundRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/ErrorResponseDTO"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessWrappedResponseDTO"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/sites/{siteUid}/payments/{paymentUid}/captures/{captureUid}": {
            "get": {
                "tags": [
                    "capture-controller"
                ],
                "operationId": "getCapture",
                "parameters": [
                    {
                        "name": "siteUid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-_]{1,64}",
                            "type": "string"
                        }
                    },
                    {
                        "name": "paymentUid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "captureUid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/ErrorResponseDTO"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessWrappedResponseDTO"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "capture-controller"
                ],
                "operationId": "createCapture",
                "parameters": [
                    {
                        "name": "siteUid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-_]{1,64}",
                            "type": "string"
                        }
                    },
                    {
                        "name": "paymentUid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    },
                    {
                        "name": "captureUid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WrappedRequestDTOCaptureRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/ErrorResponseDTO"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessWrappedResponseDTO"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/sites/{siteUid}/payments": {
            "post": {
                "tags": [
                    "Платежи"
                ],
                "summary": "Создание платежа",
                "description": "<Описание метода создания платежа>",
                "operationId": "createPayment_1",
                "parameters": [
                    {
                        "name": "siteUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/siteUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-_]{1,64}",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WrappedRequestDTOCreatePaymentRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessWrappedResponseDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/ErrorResponseDTO"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessWrappedResponseDTO"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/sites/{siteUid}/payments/{paymentUid}/refunds": {
            "get": {
                "tags": [
                    "refund-controller"
                ],
                "operationId": "getRefunds",
                "parameters": [
                    {
                        "name": "siteUid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-_]{1,64}",
                            "type": "string"
                        }
                    },
                    {
                        "name": "paymentUid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/ErrorResponseDTO"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessWrappedResponseDTO"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "refund-controller"
                ],
                "operationId": "createRefund_1",
                "parameters": [
                    {
                        "name": "siteUid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-_]{1,64}",
                            "type": "string"
                        }
                    },
                    {
                        "name": "paymentUid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WrappedRequestDTORefundRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/ErrorResponseDTO"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessWrappedResponseDTO"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/sites/{siteUid}/payments/{paymentUid}/complete": {
            "post": {
                "tags": [
                    "Завершение аутентификации"
                ],
                "summary": "Завершение аутентификации",
                "description": "<Описание метода завершения аутентификации>",
                "operationId": "completePayment",
                "parameters": [
                    {
                        "name": "siteUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/siteUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-_]{1,64}",
                            "type": "string"
                        }
                    },
                    {
                        "name": "paymentUid",
                        "in": "path",
                        "required": true,
                        "$ref": "#/components/parameters/paymentUid",
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WrappedRequestDTOCompleteRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessWrappedResponseDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/ErrorResponseDTO"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessWrappedResponseDTO"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/sites/{siteUid}/payments/{paymentUid}/captures": {
            "get": {
                "tags": [
                    "capture-controller"
                ],
                "operationId": "getCaptures",
                "parameters": [
                    {
                        "name": "siteUid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-_]{1,64}",
                            "type": "string"
                        }
                    },
                    {
                        "name": "paymentUid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/ErrorResponseDTO"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessWrappedResponseDTO"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "capture-controller"
                ],
                "operationId": "createCapture_1",
                "parameters": [
                    {
                        "name": "siteUid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-_]{1,64}",
                            "type": "string"
                        }
                    },
                    {
                        "name": "paymentUid",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[0-9a-zA-Z-]{1,64}$",
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WrappedRequestDTOCaptureRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#/components/schemas/ErrorResponseDTO"
                                        },
                                        {
                                            "$ref": "#/components/schemas/SuccessWrappedResponseDTO"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "AddressDTO": {
                "type": "object",
                "properties": {
                    "country": {
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "description": "Страна адреса покупателя",
                        "example": "Russia"
                    },
                    "region": {
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "description": "Регион адреса покупателя",
                        "example": "Moscow"
                    },
                    "city": {
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "description": "Город адреса покупателя",
                        "example": "Moscow city"
                    },
                    "details": {
                        "maxLength": 256,
                        "minLength": 1,
                        "type": "string",
                        "description": "Детали адреса покупателя",
                        "example": "Verhnyaya Radishchevskaya ulica, dom 2/1"
                    }
                },
                "description": "Адрес покупателя"
            },
            "COMPLETED": {
                "required": [
                    "changedDateTime",
                    "value"
                ],
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ResponseStatusDTO"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "changedDateTime": {
                                "type": "string",
                                "format": "date-time"
                            }
                        }
                    }
                ]
            },
            "CardPaymentMethodResultDTO": {
                "required": [
                    "maskedPan",
                    "type"
                ],
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/PaymentMethodResultDTO"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "maskedPan": {
                                "pattern": "^\\d{4,8}\\*{1,11}\\d{2}$",
                                "type": "string",
                                "description": "Маскированный номер карты",
                                "example": "444444******0563"
                            },
                            "expirationDate": {
                                "pattern": "(?:0?[1-9]|1[0-2])/[0-9]{2}",
                                "type": "string",
                                "description": "Срок действия банковской карты"
                            },
                            "holderName": {
                                "$ref": "#/components/parameters/cardHolder"
                            },
                            "rrn": {
                                "maxLength": 12,
                                "minLength": 12,
                                "type": "string",
                                "description": "RRN платежа",
                                "example": "003235873473"
                            },
                            "authCode": {
                                "pattern": "^\\d{6}$",
                                "type": "string",
                                "description": "Auth-code платежа"
                            },
                            "createdToken": {
                                "$ref": "#/components/schemas/CreatedTokenDTO"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "CARD"
                                ]
                            }
                        }
                    }
                ]
            },
            "CreatedTokenDTO": {
                "required": [
                    "expirationDate",
                    "token"
                ],
                "type": "object",
                "properties": {
                    "token": {
                        "pattern": "^[0-9a-zA-Z-]{1,64}$",
                        "type": "string",
                        "description": "Строка платежного токена"
                    },
                    "expirationDate": {
                        "type": "string",
                        "description": "Дата окончания срока действия платежного токена",
                        "format": "date-time"
                    },
                    "name": {
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "description": "Маскированный номер карты, для которой выпущен токен",
                        "example": "444444******0563"
                    },
                    "account": {
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "description": "Идентификатор Покупателя",
                        "example": "token1631"
                    }
                },
                "description": "Объект данных платежного токена"
            },
            "CustomerDTO": {
                "type": "object",
                "properties": {
                    "account": {
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "description": "Идентификатор пользователя",
                        "example": "E268443E43D93DAB7EBEF303BBE9642F"
                    },
                    "email": {
                        "maxLength": 64,
                        "minLength": 1,
                        "pattern": "^[^@\\s]+@[^@\\s]+$",
                        "type": "string",
                        "description": "E-mail пользователя",
                        "example": "pay@tochka.com"
                    },
                    "phone": {
                        "pattern": "^\\+?\\d{11,16}$",
                        "type": "string",
                        "description": "Номер телефона пользователя",
                        "example": "79123456789"
                    },
                    "bic": {
                        "pattern": "^\\d{8,11}$",
                        "type": "string",
                        "description": "БИК банка, выпустившего карту",
                        "example": "044525104"
                    },
                    "bankAccount": {
                        "pattern": "^\\d{20}$",
                        "type": "string",
                        "description": "Номер счета плательщика",
                        "example": "044525104"
                    },
                    "firstName": {
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "description": "Имя покупателя",
                        "example": "Ivan"
                    },
                    "middleName": {
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "description": "Отчество покупателя",
                        "example": "Ivanov"
                    },
                    "lastName": {
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "description": "Фамилия покупателя",
                        "example": "Ivanov"
                    },
                    "inn": {
                        "pattern": "^(\\d{10}|\\d{12})$",
                        "type": "string",
                        "description": "ИНН покупателя",
                        "example": "775598987121"
                    },
                    "bankMemberId": {
                        "pattern": "^\\d{12}$",
                        "type": "string",
                        "description": "Идентификатор банка покупателя",
                        "example": "100000000284"
                    },
                    "simpleAddress": {
                        "maxLength": 256,
                        "minLength": 1,
                        "type": "string",
                        "description": "Адрес покупателя",
                        "example": "Verhnyaya Radishchevskaya ulica, dom 2/1"
                    },
                    "address": {
                        "$ref": "#/components/schemas/AddressDTO"
                    }
                },
                "description": "Данные о клиенте"
            },
            "DECLINED": {
                "required": [
                    "changedDateTime",
                    "reason",
                    "reasonMessage",
                    "value"
                ],
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ResponseStatusDTO"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "changedDateTime": {
                                "type": "string",
                                "format": "date-time"
                            },
                            "reason": {
                                "maxLength": 100,
                                "minLength": 1,
                                "type": "string"
                            },
                            "reasonMessage": {
                                "maxLength": 500,
                                "minLength": 1,
                                "type": "string"
                            },
                            "psErrorCode": {
                                "maxLength": 5,
                                "minLength": 0,
                                "type": "string"
                            }
                        }
                    }
                ]
            },
            "DeviceDataDTO": {
                "type": "object",
                "properties": {
                    "ip": {
                        "pattern": "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$",
                        "type": "string",
                        "description": "IP Адрес клиента"
                    },
                    "dateTime": {
                        "type": "string",
                        "description": "Локальное время клиента в формате формате ISO8601",
                        "format": "date-time"
                    },
                    "screenResolution": {
                        "pattern": "^\\d{1,5}x\\d{1,4}$",
                        "type": "string",
                        "description": "Разрешение экрана клиента",
                        "example": "1800x768"
                    },
                    "timeOnPage": {
                        "type": "integer",
                        "description": "Время просмотра страницы браузераа",
                        "format": "int64",
                        "example": 732
                    },
                    "userAgent": {
                        "maxLength": 1024,
                        "minLength": 1,
                        "type": "string",
                        "description": "Данные о браузере клиента",
                        "example": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36"
                    },
                    "fingerprint": {
                        "maxLength": 2048,
                        "minLength": 1,
                        "type": "string",
                        "description": "Уникальный идентификатор устройства клиента",
                        "example": "52609E00B7EE307E79EB100099B9A8BF"
                    }
                },
                "description": "Данные об устройстве клиента,"
            },
            "LinksDTO": {
                "required": [
                    "self"
                ],
                "type": "object",
                "properties": {
                    "self": {
                        "maxLength": 2083,
                        "minLength": 1,
                        "pattern": "^https?://[-a-zA-Z0-9¡-￿+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9¡-￿+&@#/%=~_|]",
                        "type": "string",
                        "example": "https://enter.tochka.com/uapi/pay"
                    }
                }
            },
            "MetaDTO": {
                "required": [
                    "totalPages"
                ],
                "type": "object",
                "properties": {
                    "totalPages": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "MoneyDTO": {
                "required": [
                    "currency",
                    "value"
                ],
                "type": "object",
                "properties": {
                    "currency": {
                        "type": "string",
                        "description": "Валюта в формате ISO4217",
                        "example": "RUB"
                    },
                    "value": {
                        "type": "number",
                        "description": "Сумма операции",
                        "example": 100.0
                    }
                },
                "description": "Информация о сумме возвратов"
            },
            "PaymentMethodResultDTO": {
                "required": [
                    "type"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "Тип платежного метода",
                        "enum": [
                            "CARD"
                        ]
                    }
                },
                "description": "Метод платежа"
            },
            "PaymentResponseDTO": {
                "required": [
                    "amount",
                    "capturedAmount",
                    "createdDateTime",
                    "isTest",
                    "paymentMethod",
                    "paymentUid",
                    "refundedAmount",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "paymentUid": {
                        "$ref": "#/components/parameters/paymentUid"
                    },
                    "createdDateTime": {
                        "type": "string",
                        "description": "Дата создания платежа",
                        "format": "date-time"
                    },
                    "orderUid": {
                        "$ref": "#/components/parameters/orderUid"
                    },
                    "amount": {
                        "$ref": "#/components/schemas/MoneyDTO"
                    },
                    "capturedAmount": {
                        "$ref": "#/components/schemas/MoneyDTO"
                    },
                    "refundedAmount": {
                        "$ref": "#/components/schemas/MoneyDTO"
                    },
                    "paymentMethod": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/CardPaymentMethodResultDTO"
                            }
                        ]
                    },
                    "status": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/COMPLETED"
                            },
                            {
                                "$ref": "#/components/schemas/DECLINED"
                            },
                            {
                                "$ref": "#/components/schemas/WAITING"
                            }
                        ]
                    },
                    "customer": {
                        "$ref": "#/components/schemas/CustomerDTO"
                    },
                    "deviceData": {
                        "$ref": "#/components/schemas/DeviceDataDTO"
                    },
                    "requirements": {
                        "$ref": "#/components/schemas/RequirementsDTO"
                    },
                    "callbackUrl": {
                        "$ref": "#/components/parameters/callbackUrl"
                    },
                    "successUrl": {
                        "$ref": "#/components/parameters/successUrl"
                    },
                    "declineUrl": {
                        "$ref": "#/components/parameters/declineUrl"
                    },
                    "comment": {
                        "$ref": "#/components/parameters/comment"
                    },
                    "extras": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string",
                            "description": "Дополнительные поля с произвольной информацией"
                        },
                        "description": "Дополнительные поля с произвольной информацией"
                    },
                    "receiverData": {
                        "$ref": "#/components/schemas/ReceiverDataDTO"
                    },
                    "captureMode": {
                        "type": "string",
                        "description": "Признак двухстадийного сценария",
                        "enum": [
                            "AUTO",
                            "MANUAL"
                        ]
                    },
                    "isAft": {
                        "type": "boolean",
                        "description": "Признак AFT операции"
                    },
                    "isTest": {
                        "type": "boolean",
                        "description": "Признак тестовой операции"
                    }
                }
            },
            "ReceiverDataDTO": {
                "type": "object",
                "properties": {
                    "pan": {
                        "pattern": "^\\d{13,19}$",
                        "type": "string",
                        "description": "Номер карты получателя"
                    },
                    "wallet": {
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "description": "Номер кошелька получателя платежа"
                    },
                    "inn": {
                        "pattern": "^(\\d{10}|\\d{12})$",
                        "type": "string",
                        "description": "ИНН организации-эмитента"
                    },
                    "phone": {
                        "pattern": "^\\+?\\d{11,16}$",
                        "type": "string",
                        "description": "Номер телефона получателя платежа"
                    },
                    "bic": {
                        "pattern": "^\\d{8,11}$",
                        "type": "string",
                        "description": "БИК кредитной организации получателя платежа",
                        "example": "044525104"
                    },
                    "bankAccount": {
                        "pattern": "^\\d{20}$",
                        "type": "string",
                        "description": "Номер счета получателя платежа",
                        "example": "044525104"
                    }
                },
                "description": "Данные получателя платежа"
            },
            "RequirementsDTO": {
                "required": [
                    "threeDS"
                ],
                "type": "object",
                "properties": {
                    "threeDS": {
                        "$ref": "#/components/schemas/ThreeDSRequirementsDTO"
                    }
                },
                "description": "Требования для дополнительной аутентификации клиента"
            },
            "ResponseStatusDTO": {
                "required": [
                    "changedDateTime",
                    "value"
                ],
                "type": "object",
                "properties": {
                    "value": {
                        "type": "string",
                        "enum": [
                            "WAITING",
                            "DECLINED",
                            "COMPLETED"
                        ]
                    },
                    "changedDateTime": {
                        "type": "string",
                        "description": "Дата обновления платежа",
                        "format": "date-time"
                    }
                }
            },
            "SuccessWrappedResponseDTO": {
                "required": [
                    "Data",
                    "Links",
                    "Meta"
                ],
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/WrappedResponseDTOPaymentResponseDTO"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "Data": {
                                "type": "object",
                                "anyOf": [
                                    {
                                        "$ref": "#/components/schemas/PaymentResponseDTO"
                                    },
                                    {
                                        "$ref": "#/components/schemas/ResponseStatusDTO"
                                    }
                                ]
                            },
                            "Links": {
                                "$ref": "#/components/schemas/LinksDTO"
                            },
                            "Meta": {
                                "$ref": "#/components/schemas/MetaDTO"
                            }
                        }
                    },
                    {
                        "$ref": "#/components/schemas/WrappedResponseDTOListRefundResponseDTO"
                    },
                    {
                        "$ref": "#/components/schemas/WrappedResponseDTORefundResponseDTO"
                    },
                    {
                        "$ref": "#/components/schemas/WrappedResponseDTOListCaptureResponseDTO"
                    },
                    {
                        "$ref": "#/components/schemas/WrappedResponseDTOCaptureResponseDTO"
                    }
                ]
            },
            "ThreeDSRequirementsDTO": {
                "required": [
                    "acsUrl",
                    "paReq"
                ],
                "type": "object",
                "properties": {
                    "paReq": {
                        "maxLength": 16384,
                        "minLength": 1,
                        "type": "string",
                        "description": "Сообщение для передачи в ACS банка-эмитента через браузер клиента",
                        "example": "BC58+5698AE46DE4=="
                    },
                    "acsUrl": {
                        "maxLength": 2083,
                        "minLength": 1,
                        "pattern": "^https?://[-a-zA-Z0-9¡-￿+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9¡-￿+&@#/%=~_|]",
                        "type": "string",
                        "description": "URL ACS сервера банка-эмитента для перенаправления клиента",
                        "example": "https://example.tochkapayment.ru/acs/"
                    }
                },
                "description": "Данные для аутентификации банковских карт по протоколам 3DS и 3DS 2.0"
            },
            "WAITING": {
                "required": [
                    "changedDateTime",
                    "value"
                ],
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ResponseStatusDTO"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "changedDateTime": {
                                "type": "string",
                                "format": "date-time"
                            }
                        }
                    }
                ]
            },
            "CardPaymentMethodDTO": {
                "required": [
                    "expirationDate",
                    "pan",
                    "type"
                ],
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/PaymentMethodDTO"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "pan": {
                                "pattern": "^\\d{13,19}$",
                                "type": "string",
                                "description": "Номер банковской карты"
                            },
                            "expirationDate": {
                                "pattern": "(?:0?[1-9]|1[0-2])/[0-9]{2}",
                                "type": "string",
                                "description": "Срок действия банковской карты"
                            },
                            "cvv2": {
                                "pattern": "^\\d{3}$",
                                "type": "string",
                                "description": "CVV2/CVC2 на банковской карте"
                            },
                            "holderName": {
                                "$ref": "#/components/parameters/cardHolder"
                            },
                            "createToken": {
                                "type": "boolean",
                                "description": "Флаг для выпуска платежного токена"
                            },
                            "type": {
                                "type": "string",
                                "enum": [
                                    "CARD"
                                ]
                            }
                        }
                    }
                ]
            },
            "CreatePaymentRequestDTO": {
                "required": [
                    "amount",
                    "captureMode",
                    "extras",
                    "isAft",
                    "paymentMethod"
                ],
                "type": "object",
                "properties": {
                    "paymentUid": {
                        "$ref": "#/components/parameters/paymentUid"
                    },
                    "orderUid": {
                        "$ref": "#/components/parameters/orderUid"
                    },
                    "amount": {
                        "$ref": "#/components/schemas/MoneyDTO"
                    },
                    "paymentMethod": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/CardPaymentMethodDTO"
                            }
                        ]
                    },
                    "customer": {
                        "$ref": "#/components/schemas/CustomerDTO"
                    },
                    "deviceData": {
                        "$ref": "#/components/schemas/DeviceDataDTO"
                    },
                    "callbackUrl": {
                        "$ref": "#/components/parameters/callbackUrl"
                    },
                    "successUrl": {
                        "$ref": "#/components/parameters/successUrl"
                    },
                    "declineUrl": {
                        "$ref": "#/components/parameters/declineUrl"
                    },
                    "comment": {
                        "$ref": "#/components/parameters/comment"
                    },
                    "extras": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    },
                    "receiverData": {
                        "$ref": "#/components/schemas/ReceiverDataDTO"
                    },
                    "captureMode": {
                        "type": "string",
                        "enum": [
                            "AUTO",
                            "MANUAL"
                        ]
                    },
                    "isAft": {
                        "type": "boolean"
                    }
                }
            },
            "PaymentMethodDTO": {
                "required": [
                    "type"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "Тип платежного метода",
                        "enum": [
                            "CARD"
                        ]
                    }
                },
                "description": "Метод платежа",
                "discriminator": {
                    "propertyName": "type"
                }
            },
            "WrappedRequestDTOCreatePaymentRequestDTO": {
                "required": [
                    "Data"
                ],
                "type": "object",
                "properties": {
                    "Data": {
                        "$ref": "#/components/schemas/CreatePaymentRequestDTO"
                    }
                }
            },
            "ErrorDetailsDTO": {
                "required": [
                    "errorCode",
                    "message",
                    "url"
                ],
                "type": "object",
                "properties": {
                    "errorCode": {
                        "maxLength": 200,
                        "minLength": 1,
                        "type": "string"
                    },
                    "message": {
                        "maxLength": 603,
                        "minLength": 1,
                        "type": "string"
                    },
                    "url": {
                        "maxLength": 2083,
                        "minLength": 1,
                        "pattern": "^https?://[-a-zA-Z0-9¡-￿+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9¡-￿+&@#/%=~_|]",
                        "type": "string"
                    }
                }
            },
            "ErrorResponseDTO": {
                "required": [
                    "Errors",
                    "code",
                    "id",
                    "message"
                ],
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/WrappedResponseDTOPaymentResponseDTO"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "code": {
                                "maxLength": 40,
                                "minLength": 1,
                                "type": "string"
                            },
                            "id": {
                                "maxLength": 40,
                                "minLength": 1,
                                "type": "string"
                            },
                            "message": {
                                "maxLength": 600,
                                "minLength": 1,
                                "type": "string"
                            },
                            "Errors": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/ErrorDetailsDTO"
                                }
                            }
                        }
                    },
                    {
                        "$ref": "#/components/schemas/WrappedResponseDTORefundResponseDTO"
                    },
                    {
                        "$ref": "#/components/schemas/WrappedResponseDTOCaptureResponseDTO"
                    },
                    {
                        "$ref": "#/components/schemas/WrappedResponseDTOListRefundResponseDTO"
                    },
                    {
                        "$ref": "#/components/schemas/WrappedResponseDTOListCaptureResponseDTO"
                    }
                ]
            },
            "WrappedResponseDTOPaymentResponseDTO": {
                "type": "object"
            },
            "RefundRequestDTO": {
                "type": "object",
                "properties": {
                    "refundUid": {
                        "pattern": "^[0-9a-zA-Z-]{1,64}$",
                        "type": "string"
                    },
                    "amount": {
                        "$ref": "#/components/schemas/MoneyDTO"
                    },
                    "callbackUrl": {
                        "$ref": "#/components/parameters/callbackUrl"
                    },
                    "comment": {
                        "$ref": "#/components/parameters/comment"
                    }
                }
            },
            "WrappedRequestDTORefundRequestDTO": {
                "required": [
                    "Data"
                ],
                "type": "object",
                "properties": {
                    "Data": {
                        "$ref": "#/components/schemas/RefundRequestDTO"
                    }
                }
            },
            "WrappedResponseDTORefundResponseDTO": {
                "type": "object"
            },
            "CaptureRequestDTO": {
                "type": "object",
                "properties": {
                    "captureUid": {
                        "pattern": "^[0-9a-zA-Z-]{1,64}$",
                        "type": "string"
                    },
                    "amount": {
                        "$ref": "#/components/schemas/MoneyDTO"
                    },
                    "callbackUrl": {
                        "$ref": "#/components/parameters/callbackUrl"
                    },
                    "comment": {
                        "$ref": "#/components/parameters/comment"
                    }
                }
            },
            "WrappedRequestDTOCaptureRequestDTO": {
                "required": [
                    "Data"
                ],
                "type": "object",
                "properties": {
                    "Data": {
                        "$ref": "#/components/schemas/CaptureRequestDTO"
                    }
                }
            },
            "WrappedResponseDTOCaptureResponseDTO": {
                "type": "object"
            },
            "CompleteRequestDTO": {
                "required": [
                    "threeDS"
                ],
                "type": "object",
                "properties": {
                    "threeDS": {
                        "$ref": "#/components/schemas/ThreeDSCompleteRequestDTO"
                    }
                }
            },
            "ThreeDSCompleteRequestDTO": {
                "required": [
                    "paRes"
                ],
                "type": "object",
                "properties": {
                    "paRes": {
                        "maxLength": 16384,
                        "minLength": 1,
                        "type": "string",
                        "description": "Результат аутентификации покупателя, полученный после возврата с ACS банка-эмитента",
                        "example": "eJxVjDsOwjAQBe+S0SWKiXHdwMhWmCbXIpZWa+O..."
                    }
                },
                "description": "Данные для аутентификации банковских карт по протоколам 3DS и 3DS 2.0"
            },
            "WrappedRequestDTOCompleteRequestDTO": {
                "required": [
                    "Data"
                ],
                "type": "object",
                "properties": {
                    "Data": {
                        "$ref": "#/components/schemas/CompleteRequestDTO"
                    }
                }
            },
            "WrappedResponseDTOListRefundResponseDTO": {
                "type": "object"
            },
            "WrappedResponseDTOListCaptureResponseDTO": {
                "type": "object"
            }
        },
        "parameters": {
            "siteUid": {
                "name": "siteUid",
                "in": "path",
                "description": "ID Сайта",
                "required": true,
                "schema": {
                    "pattern": "^[0-9a-zA-Z-_]{1,64}",
                    "type": "string"
                }
            },
            "paymentUid": {
                "name": "paymentUid",
                "in": "path",
                "description": "Уникальный идентификатор платежа в информационной системе ТСП",
                "required": true,
                "schema": {
                    "pattern": "^[0-9a-zA-Z-]{1,64}$",
                    "type": "string"
                },
                "example": "977639EE70494C67"
            },
            "orderUid": {
                "description": "Идентификатор заказа",
                "example": "HeV24beTZCTdwvIEgtBA"
            },
            "cardHolder": {
                "description": "Имя клиента, указанное на банковской карте",
                "example": "CARD HOLDER"
            },
            "callbackUrl": {
                "description": "URL отправки уведомления об операции",
                "example": "https://test.tochkapay.com/notification"
            },
            "successUrl": {
                "description": "URL для перенаправления при успешной операции",
                "example": "https://test.tochkapay.com/success"
            },
            "declineUrl": {
                "description": "URL для перенаправления при отклоненной операции",
                "example": "https://test.tochkapay.com/decline"
            },
            "comment": {
                "description": "Описание услуги, которую получает клиент",
                "example": "Пирожки"
            }
        }
    }
}
